*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 600px;
    height: 400px;
    background-image: url(https://picsum.photos/id/1003/600/400);
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1) opacity(0.6);
    cursor: pointer;
    transition: 0.5s ease-in;
}
.image::after,
.image::before{
    transform: scaleY(-1);
}
.image:hover{
    filter: grayscale(0) opacity(1);
}
.image:hover::after{
    content: '';
    width: inherit;
    height: 20%;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: -20%;
}
.image:hover::before{
    content: '';
    width: inherit;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
    position: absolute;
    bottom: -20%;
    z-index: 1;
}